/* Core Styles */
body.lightmode {
    background-color: #fff;
    color: #000;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: rgb(20, 20, 20);
}

h1, h2 {
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 49px;
}

h2 {
    font-size: 30px;
}

/* Navbar */

nav {
    width: 100%;
    margin: 0;
    padding: 0px 0px 0px 0px;
    min-height: 50px;
    max-height: 90px;
    background-color: #60073e;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

nav div, nav ul {
    display: flex;
}

nav h3 {
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding-left: 20px;
    align-self: center;
}

nav ul li {
    color: #FFF;
    display: inline;
    padding-right: 20px;
    align-self: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

nav a:hover {
    color: red;
    transition: color 0.2s ease-in;
}

nav img {
    align-self: center;
    justify-self: center;
    max-height: 25px;
}

#li_toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
/* Main Content Classes */

.flex {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.showcase-card {
    text-align: center;
}


/* Intro Header */

#header h1, #header h2, #header h3 {
    margin: 0;
    padding: 0;
}

#header {
    max-width: 80%;
    justify-content: space-around;
    align-content: center;
    margin: 75px auto;
}

#name-title {
    flex-flow: column nowrap;
    justify-content: center;
    min-width: 30%;
    gap: 10px;
}

#name-title h2 {
    min-width: 260px;
}

#intro {
    max-width: 50%;
}

#intro p {
    max-width: 80%;
    text-align: center;
    font-size: 18px;
}

/* Showcase Panel */

#showcase h2 {
    text-align: center;
    padding-left: 0px;
    margin-left: 0px;
    font-size: 35px;
}

#showcase {
    margin-bottom: 50px;
}

.showcase-card .showcase-image {
    width: 500px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.3);
}

.showcase-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#showcase1 {
    background-image: url("/assets/cz_jansen_thumb.jpg");
}
#showcase2 {
    background-image: url("/assets/Asset\ 17x1500.png");
    background-size: auto 90%;
}
#showcase3 {
    background-image: url("/assets/site_image.png");
}

/* Mini Contact Panel */

#contact-mini {
    width: 600px;
    height: 250px;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    color: #fff;
}

#contact-mini .flex {
    flex-flow: column nowrap;
    justify-items: flex-end;
}

#mini-headshot {
    width: 150px;
    height: 100px;
    justify-self: center;
    align-self: center;
}

#mini-headshot h3 {
    color: #fff;
    text-align: center;
}

#mini-headshot img {
    width: 150px;
    margin-left: 50px;
}

#contact-contact {
    justify-content: space-around;
    margin: 15px 50px 15px 0px;
}

/* Footer */
footer {
    color: #fff;
    background-color: black;
    align-items: center;
}
footer ul li {
    display: inline;
}

/* Contact Info Page */
#contact-full {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 0px 50px 0px;
}
#contact-full #mini-headshot {
    height: 200px;
    width: 200px;
}

#headshot-bio {
    height: 200px;
    width: 200px;
}

#resume-placeholder {
    width: 1000px;
    height: 900px;
    background-color:rgb(109, 109, 109);
    position: relative;
    left: 18%;
    margin-bottom: 100px;
}