/* Core Styles */
body.lightmode {
    background-color: #fff;
    color: #000;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: rgb(20, 20, 20);
}

h1, h2 {
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 49px;
}

h2 {
    font-size: 30px;
}

.page-wrapper {
    height: 100vh;
}

/* Navbar */

nav {
    width: 100%;
    margin: 0;
    padding: 0px 0px 0px 0px;
    min-height: 50px;
    max-height: 90px;
    background-color: #60073e;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

nav div, nav ul {
    display: flex;
}

nav h3 {
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding-left: 20px;
    align-self: center;
}

nav ul li {
    color: #FFF;
    display: inline;
    padding-right: 20px;
    align-self: center;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover, footer a:hover {
    color: red;
}

nav img {
    align-self: center;
    justify-self: center;
    max-height: 25px;
}

#li_toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* Dropdown Menu - Nav */
.drop-content {
    display: none;
}

.dropdown:hover .drop-content {
    display: block;
}

.drop-button {
    border: none;
    outline: none;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.drop-content {
    position: absolute;
    background-color: #60073e;
    box-shadow: 5px 5px 5px #000000d2;
}

.drop-content a {
    display: block;
    padding: 10px;
}

.drop-content a:hover {
    background-color: #360422d2;
}

nav i {
    font-size: 15px;
}
/* Main Content Classes */

.flex {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.showcase-card {
    text-align: center;
}
.spacer {
    height: 2rem;
}

/* Intro Header */

#header h1, #header h2, #header h3 {
    margin: 0;
    padding: 0;
}

#header {
    max-width: 80%;
    justify-content: space-around;
    align-content: center;
    margin: 4.688rem auto;
}

#name-title {
    flex-flow: column nowrap;
    justify-content: center;
    min-width: 30%;
    gap: 10px;
}

#name-title h2 {
    min-width: 260px;
}

#intro {
    max-width: 50%;
}

#intro p {
    max-width: 80%;
    text-align: center;
    font-size: 18px;
}

/* Showcase Panel */

#showcase h2 {
    text-align: center;
    padding-left: 0px;
    margin-left: 0px;
    font-size: 35px;
}

#showcase {
    margin-bottom: 100px;
    max-width: 100%;
}

#showcase .flex {
    flex-wrap: wrap;
}

.showcase-card .showcase-image {
    width: 31.25rem;
    height: 15.625rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.showcase-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#showcase1 {
    background-image: url("/assets/cz_jansen_thumb.jpg");
}
#showcase2 {
    background-image: url("/assets/Asset\ 17x1500.png");
    background-size: auto 90%;
}
#showcase3 {
    background-image: url("/assets/site_image.png");
}

/* Mini Contact Panel */

#contact-mini {
    width: 600px;
    height: 250px;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    color: #fff;
}

#contact-mini .flex {
    flex-flow: column nowrap;
    justify-items: flex-end;
}

#mini-headshot {
    width: 150px;
    height: 100px;
    justify-self: center;
    align-self: center;
}

#mini-headshot h3 {
    color: #fff;
    text-align: center;
}

#mini-headshot img {
    width: 150px;
    margin-left: 50px;
}

#contact-contact {
    justify-content: space-around;
    margin: 15px 50px 15px 0px;
}

/* Footer */
footer {
    color: #fff;
    background-color: black;
    align-items: center;
    text-align: center;
}

footer ul li {
    display: inline;
}

footer ul.flex {
    gap: 10px;
}

footer .ft-text {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    align-self: center;
}

.social-ico img {
    height: 30px;
    padding: 0px 5px;
}

/* Contact Info Page */
#contact-full {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 0px 50px 0px;
}
#contact-full #mini-headshot {
    height: 200px;
    width: 200px;
}

#headshot-bio {
    height: 200px;
    width: 200px;
}

#resume-placeholder {
    width: 1000px;
    height: 900px;
    background-color:rgb(109, 109, 109);
    position: relative;
    left: 18%;
    margin-bottom: 100px;
}

/* Video Editing Product Page */
/* OLD GRID
.cA-grid {
    display: grid;
    grid-template: 1fr 3fr 1fr 1fr / repeat(3, minmax(0px, 1fr));
    grid-template-areas: "cAheader cAheader cAheader"
               "cAcontent cAcontent2 cAcontent3"
               "cAcopy cAcopy cAcopy"
               "cAfooter cAfooter cAfooter";
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 0px 1rem;
}
*/

.cA-grid {
    display: grid;
    grid-template: minmax(min-content, max-content) repeat(2, minmax(min-content, 80%)) 5% / minmax(1rem, 1fr) repeat(2, minmax(min-content, 70ch)) minmax(1rem, 1fr);
    grid-template-areas: ". cAheader cAheader ."
                         ". cAcontent cAcopy ."
                         ". cAcopy2 cAcontent2 ."
                         ". cAspacer cAspacer .";
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 0px 1rem;
}

#cA-header {
    grid-area: cAheader;
}
#cA-content {
    grid-area: cAcontent;
}
#cA-copy {
    grid-area: cAcopy;
    margin: 0px auto;
    padding: 5px;
}
#cA-copy2 {
    grid-area: cAcopy2;
    margin: 0px auto;
    padding: 5px;

}

#cA-content2 {
    grid-area: cAcontent2;
}

#cA-content3 {
    grid-area: cAcontent3;
}
#cA-spacer {
    grid-area: cAspacer;
}
/*
#commarch iframe {
    max-width: 90%;
    height: 170px;
}
*/
.vid-container {
    width: 100%;
}

footer ul li:last-child
{
    display: none;
}

/* Mobile Styles - Phones */ 
@media screen and (max-width: 360px) {
    .flex {
        flex-wrap: wrap;
    }

    nav {
        justify-content: center;
        gap: 10px;
    }

    nav #li_toggle {
        display: none;
    }

    #intro {
        max-width: 95%;
    }

    #header {
        margin: 2.5rem auto;
    }

    #header h1, #header h2 {
        text-align: center;
        border: 1px solid royalblue;
    }

    #showcase {
        margin-bottom: 0px;
    }

    #showcase h3, #showcase p {
        text-align: center;
        margin: 1rem 1rem;
    }  

    .showcase-card {
        padding-bottom: 1rem;
    }

    .showcase-card .showcase-image {
        width: 22.5rem;
        height: 11.25rem;
    }

    footer .flex {
        justify-content: center;
    }
    
    footer ul {
        padding-left: 0px;
    }

    #foot-bar {
        flex-direction: column;
        padding-top: 0.7rem;
    }

    footer span, footer a {
        font-size: 14px;
    }

    .social-ico img {
        height: 25px;
    }

    /* Mobile - Editing Page */
    /* Try layout for collapsible margin columns w/auto-fill??[X] Side-by-side layout with alternating L/R video + copy? Include technolgies used? Need content lock first, then finish layout/style. */ 
    #commarch h2 {
        padding: 0px;
        margin: 1rem 0px 0px 0px;
    }
    .cA-grid {
        grid-template: 3rem repeat(2, minmax(min-content, max-content) 1fr) / minmax(1rem, 1fr) minmax(auto, 70ch) minmax(1rem, 1fr);
       /* grid-template: 3rem minmax(min-content, max-content) repeat(3, 1fr) / 1fr;*/
        grid-template-areas: ". cAheader ."
                             ". cAcopy ."
                             ". cAcontent ."
                             ". cAcopy2 ."
                             ". cAcontent2 .";
        gap: 10px 0px;
    }
    #commarch div iframe {
        height: 190px;
    }
}

@media screen and (orientation: landscape) and (max-width:740px) {
    .cA-grid {
        grid-template: 3rem minmax(min-content, max-content) repeat(3, 1fr) / minmax(1rem, 1fr) minmax(auto, 70ch) minmax(1rem, 1fr);
        grid-template-areas: ". cAheader ."
                             ". cAcopy ."
                             ". cAcontent ."
                             ". cAcopy2 ."
                             ". cAcontent2 .";
        gap: 10px 0px;
    }
}
/* Mobile Styles - Tablet */
@media screen and (min-width: 361px) and (max-width: 768px) {
    #header h1 {
        border: 1px solid aqua;
    }
}